<form action="/books/create" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Title of the book</label>
    <input type="text" class="form-control" id="name" name="name" >
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author of the book</label>
    <input type="text" class="form-control" id="author" name="author" >
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Sinopsis</label>
    <textarea class="form-control" id="description" rows="3" name="description"></textarea>
  </div>
  <button class="btn btn-primary">Create book</button>
</form>